body {
   background-image:url(img/prata.jpg);
   background-attachment: fixed;
   background-size: 100%;
   background-repeat: no-repeat;
   margin: 0%;    
}
header{
    
    margin-top: 0%;
    color: #1f1f1f;
    font-size: 30px;
    text-align: center;
    border-bottom: 0.4em solid black;
   
}
.logo{
    position:absolute;
    left: 0%;
    top: 27px;
}
.logo img{
    width: 200px;
    height: 200px;
    
}

.avatar{
    display: inline-block;
    margin-top: 0%;
    padding: 80px;
    background-color: transparent;
    font-size: 36px;
    font-weight: bolder;
    line-height: 19px;
    color: transparent;
    font-style: normal;
    text-align: center;
    
}

.avatar img{
    width: 225px;
    height: 225px;
    text-align: center;
    
}
.avatar:hover p{
    color: #1f1f1f;
    text-align: center;
}
.geral{
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
    
}
h1{
    text-align: center;
    font-size: 36px;
}
ul.jobs{
    list-style-type: square;
    margin-top: 10%;
    padding: 80px;
    line-height: 40px;
    font-size: 30px;
    font-weight: bolder;
    
}

section{
    margin: 50px;
    width: 1050px;
    height: 150;

}
.rede{
    width: 150px;
    height: 150px;
    margin-left: 100px;
    float: left;
    transition: all 0.4s ease-out;
    text-align: center;
    color: transparent;
    font-weight: bolder;

}
.rede:hover{
    color: #1f1f1f;
    text-align: center;
    font-size: 24px;
}

.atalho{
    margin: 0px;
    padding: 10px;
    width: 60px;
    text-align: center;
}
.menu{
  position: fixed;
  right: 0%;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
  background:#1f1f1f ;
  color:#ffffff;
  font-weight: bold;
  font-size: large;
  text-align: left;
  border: 0px;
  border-right: none;
  padding: 0.5em 0.5em 0.5em 2.5em;
  box-shadow: 0 1px 3px black;
  border-radius: 3em 0.5em 0.5em 3em;
  
}
a{
    text-decoration: none;
    color: inherit;
}



